
@{
    ViewBag.Title = "ComboBoxJS";
}

<h2>ComboBoxJS</h2>
<select id="cboPadres">

</select>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Views/LlenarComboBox.js"></script>