
@{
    ViewBag.Title = "TablaJSK";
}

<h2>TablaJSK</h2>

<label for="txtBuscar">Buscar</label>
<input type="text" id="txtBuscar" name="txtBuscar" />
<input type="button" id="btnBuscar" name="btnBuscar" value="Buscar" />
<input type="button" id="btnLimpiar" name="btnLimpiar" value="Limpiar" />
<input type="button" id="btnLimpiar" name="btnLimpiar" value="prueba" />
<div id="divTabla">




</div>

<div id="divTablaHijos">



</div>

<!--debe ser siempre el primero Jquery-->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Views/TablaJS_Index.js"></script>

