
@{
    ViewBag.Title = "TablaJS2";
}

<h2>TablaJS2</h2>
<label name ="txtbuscar">Buscar</label>
<input type="text" id="txtbuscar"/>
<input type="button"  value="buscar" id="btnbuscar" />
<div id="divTabla">

   


</div>
<!--debe ser siempre el primero Jquery-->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Views/TablaNested_Index.js"></script>
