@{
    ViewBag.Title = "EjePrincipal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section estilos{
    <style>
        span.error {
            color: red;
            font-size: 0.8em;
            font-weight: bold;
        }

        .content-select select {
            -webkit-appearance: none;
            -moz-appearance: none;
        }

            .content-select select::-ms-expand {
                display: none;
            }

        .content-select {
            max-width: 250px;
            position: relative;
        }

            .content-select select {
                display: inline-block;
                width: 100%;
                cursor: pointer;
                padding: 7px 10px;
                height: 42px;
                outline: 0;
                border: 0;
                border-radius: 0;
                color: dimgrey;
                font-size: 0.95em;
                color: dimgrey;
                font-family: Arial;
                border: 1px solid rgba(0,0,0,0.2);
                border-radius: 6px;
                position: relative;
                transition: all 0.25s ease;
            }

                .content-select select:hover {
                    background: #B1E8CD;
                }

            .content-select i {
                position: absolute;
                right: 20px;
                top: calc(50% - 13px);
                width: 16px;
                height: 16px;
                display: block;
                border-left: 4px solid #2AC176;
                border-bottom: 4px solid #2AC176;
                transform: rotate(-45deg); /* Giramos el cuadrado */
                transition: all 0.25s ease;
            }

            .content-select:hover i {
                margin-top: 3px;
            }
    </style>
}
<!--compatble con menú-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Eje Organizativo</li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-12">
        <div class="card border-dark">
            <div class="card-header text-white bg-dark">
                <h5 class="float-left">Organización</h5>
                <button class="btn btn-success btn-sm float-right" onclick="abrirPopUpForm(null)">
                    <i class="fa fa-plus" aria-hidden="true"></i> Agregar Nuevo
                </button>
            </div>
            <div class="card-body">
                <table id="tbdata" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Referencia</th>
                            <th>Nivel</th>
                            <th>Nombre</th>
                            <th>IdPadre</th>
                            <th>Perfil</th>
                            <th>Geografia</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Eje Principal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="hidden" value="0" />

                <form id="formNivel">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtrefeje">RefEje <span class="error"></span></label>
                                <input type="text" class="form-control required" id="txtrefeje" name="txtrefeje" autocomplete="9%%943511">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtnivel">Nivel <span class="error"></span></label>
                                <input type="text" class="form-control required" id="txtnivel" name="txtnivel" autocomplete="9%%943511">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtnombre">Nombre<span class="error"></span></label>
                                <input type="text" class="form-control required" id="txtnombre" name="txtnombre" autocomplete="9%%943511">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtidejepadre"> Padre <span class="error"></span></label>
                                <div class="content-select">
                                    <select id="cboPadres" class="form-select">
                                    </select>
                                    <i></i>
                                </div>
                                <input type="hidden" class="form-control required" id="txtidejepadre" name="txtidejepadre" autocomplete="9%%943511">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtidperfil">Perfil<span class="error"></span></label>
                                <div class="content-select">
                                    <select id="cboPerfiles" class="form-select required">
                                    </select>
                                    <i></i>
                                </div>
                                <input type="hidden" class="form-control required" id="txtidperfil" name="txtidperfil" autocomplete="9%%943511">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtidgeografia">Geografia<span class="error"></span></label>
                                <div class="content-select">
                                    <select id="cboGeografias" class="form-select required">
                                    </select>
                                    <i></i>
                                </div>
                                <input type="hidden" class="form-control required" id="txtidgeografia" name="txtidgeografia" autocomplete="9%%943511">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!--modal encuestas-->
<div class="modal fade" id="FormModalEncuestas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Rellenar Encuestas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--Tabla encuestas-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-body">
                        <table id="tbdataencuestas" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Encuesta</th>
                                    <th>Pregunta</th>
                                    <th>Respuesta</th>
                                    <th>IdEje</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--Tabla encuestas-->
            <!--modal preguntas-->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--modal encuestas-->
<!--modal preguntas-->
<div class="modal fade" id="FormModalPreguntas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Respuestas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <input id="txtid" type="hidden" value="0" />

                <form id="formNivelPreguntas">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtrespuesta"> Respuesta <span class="error"></span></label>
                                <input type="text" class="form-control required" id="txtrespuesta" name="txtrespuesta" autocomplete="9%%943511">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @*<label for="txtideje">ID Eje <span class="error"></span></label>*@
                                <input type="hidden" id="txtideje" name="txtideje" autocomplete="9%%943511">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @*<label for="txtdescripcionencuesta">DescripcionEncuesta<span class="error"></span></label>*@
                                <input type="hidden" id="txtdescripcionencuesta" name="txtdescripcionencuesta" autocomplete="9%%943511">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @*<label for="txtdescripcionindicador">Indicador<span class="error"></span></label>*@
                                <input type="hidden" id="txtdescripcionindicador" name="txtdescripcionindicador" autocomplete="9%%943511">
                            </div>
                        </div>


                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"  onclick="refrescaTablaEncuestas()" >Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarRespuesta()">Guardar</button>
            </div>
        </div>
    </div>
</div>



<!--modal preguntas-->
<!--Fin comptible menu-->
<!--debe ser siempre el primero Jquery-->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Views/EjePrincipal_Index.js"></script>
